<div id="footer">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <h4>REDis</h4>
        <p>
          <a href="mailto:emachnic@broadmac.net">emachnic@broadmac.net</a>
          <br />
          <%= link_to '@emachnic', 'http://twitter.com/emachnic' %>
        </p>
      </div>
      <div class="one-third column">
        <h4>What is this?</h4>
        <p>
          REDis is an example application built for CodeTV. It uses Redis on the
          back-end to get the value of a key passed to a form.
        </p>
        <p class="copyright">Copyright © <%= Time.now.year %><br />All Rights Reserved.</p>
      </div>
      <div class="one-third column">
        <ul class="navigation">
          <li>
            <a href="#" title="About">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
